@import "./colorsAllPage";
@import "modules/reset";

/*----------------------------------------sass grid cata-----------------------------------------*/

$columns: 12;
$column-base-width: 100%/$columns;

/*----------------------------------------sass grid cata-----------------------------------------*/

#ul22{
  border:3px solid cornflowerblue;
  padding:1em;
  margin:1em;
  li{
    border:3px solid coral;
    padding:0.5em;
    margin:0.5em;
    &.text22{
      background-color: darkgreen;
      color:Gainsboro ;
    }
    &:nth-of-type(2){
      background-color: IndianRed ;
    }
    &:nth-of-type(3){
      background-color: LightSlateGray ;
      color:LemonChiffon;
    }
  }

}

#paragraphTest2{
  padding:1.5em;
  margin:1.5em;
  border:3px dotted coral;
  background-color: yellow;
  &:hover{
    transition:ease 3s;
    border:5px dotted yellowgreen;
      background-color: coral;
      font-weight: bold;
  }
}

#testParagraph2{
  font-size: 1.5em;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  color:red;
  background-color: yellow;
  text-align: center;
  &:hover{
    color:green;
    background-color: pink;
  }
  &:active{
    color:blue;
    background-color: skyblue;
  }
}

#ulLinks{
  border:3px solid cornflowerblue;
  padding:1em;
  margin:1em;
  li{
    border:3px solid orange;
    padding:1em;
    margin:1em;
  }
}

.imgDivPage{
  padding:1em;
  background-color: coral;
  &:hover{
    transition:ease 3s;
    background-color: gold;
  }
}

.imgDivPageActive{
  padding:1em;
  background-color: yellow;
  &:active{
    background-color: magenta;
  }
}

#imgsContainer{
  display:flex;
  align-items: center;
  justify-content: center;
  //flex-direction: row;
flex-wrap: wrap;
}

#userTitle{
  background-color: yellow;
  padding:1em;
  &:hover{
    transition:ease 3s;
    background-color: gold;
    color:magenta;
  }
}
#userTitle2{
  margin:1em;
  border:3px solid red;
  &:active{
    padding:1em;
    background-color: skyblue;
    color:darkmagenta;
    border:3px solid blue;
  }
}

#userDiv1 , #userDiv2{
  input{
    outline: none;
  }
}

#userPhotoCostel , #userCostelNr , #userPhotoMihaela{
  width:100%;
  outline: none;
}

/*-----------------------------------------------------------------------------*/
#textField-first{
  background-color: $myBgColor1;
  color:$myTextColor1;
  text-align: center;
  padding: 1.5em 0;
  margin:1em;
  border-bottom:7px solid $myTextColor2;
  border-left: 7px dotted red;
  border-right: 7px dashed olive;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}











/*----------------------------------------sass grid cata-----------------------------------------*/

/*------------------------------------------------------------------------------*/

.sidebar {                    ///pt grid day 3 , ex de la curs si cel homework , ambele au acelasi scss
  background-color: #0fe70f;
  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.container {
  border: solid crimson 3px;
  width: 100%;
  max-width: 990px;
  padding: 0 15px;
  margin: 0 auto;                                                     ///de aici se centreaza pe mijlocul ecranului
  .row {
    border: dashed deepskyblue 3px;
    display: flex;
    flex-wrap: wrap;//pt a le aseza unele sub altele cand se modifica dimensiunea ecranului
    [class*="col-"] {
      border: solid darkmagenta 3px;
      min-height: 10em;
      width: $column-base-width;
      padding: 0 15px;

    }
    @for $i from 1 through $columns {
      .col-#{$i} {
        width: $i*$column-base-width;
        @media only screen and (max-width: 768px) {
          width: 100%;
        }
      }
    }
  }
}
// definesc o clasa blue pt a colora randurile din interiorul lui sidebar
.movColor{
  background-color: magenta;
}
.yellowColor{
  background-color: yellow;
}
.blue{
  background-color: dodgerblue;
}
.pinkColor{
  background-color: #e71f79;
}
.footer {
    background-color: #0c3254;
 // height: 5em;pt ca ca ramane gol conteinerul care nu isi poate schimba dimensiunea pt ca depinde de .row si de .col
}

/*----------------------------------------sass grid cata-----------------------------------------*/

//
